/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
.idea
*.swp
.Trash-1000
.buildpath
.idea
.project
.settings
.DS_Store
._.DS_Store
app/AppKernel.php
app/AppKernelApi.php
bin/
composer.lock
config/*